@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  overflow: hidden;
}

#output {
  padding: 20px;
  text-align: center;
}

#field {
  width: 200px;
  height: 250px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;

  border: 1px solid black;
  
  position: relative;

  display: grid;
  grid-template-rows: repeat(auto-fit, 50px);
  grid-template-columns: repeat(auto-fit, 50px);
  overflow: hidden;
}

.astronaut {
  width: 50px;
  height: 50px;

  background-image: url("resources/assets/Astronaut.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
  position: absolute;
}

.wall {
  background-image: url("resources/assets/wall.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.goal_unlocked {
  background-image: url("resources/assets/ziel_open.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}

.goal_locked {
  background-image: url("resources/assets/ziel_locked.svg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center center;
}
