@import url(https://fonts.googleapis.com/css?family=Roboto);

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

h1{
    font-size: 64px;
    text-shadow: 10px 10px 10px #000000;
    color: white;
    text-align: center;
    position: relative;
    top: -100px;
}

h2{
    color: white;
    font-size: x-large;
    text-shadow: 10px 10px 10px #000000;
}

.logo{
    width: 100px;
    height: 100px;
    position: absolute;
    z-index: -2;
    left: calc(50% + 40px);
}

.camera {
    overflow: hidden;
    background-color: black;
    margin: 0 auto auto;
    justify-items: center;
    display: block;
    position: relative;

}

.background {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-image: url("resources/background/background.png");
    background-repeat: no-repeat;
}

.gradient{
    background-image: radial-gradient(closest-side, transparent, rgba(0,0,0,0.8) 100%),url("resources/background/background.png");
    z-index: -5;
    position: relative;
}

.field {
    display: grid;
    position: absolute;
}

.menu {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    margin: auto;
  }

.buttonStyle {
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    background-color: #414141;
    color: white;
    margin: 5px;
    border-radius: 28px;
    min-height: 2em;
    cursor: pointer;
    box-shadow: 3px 4px 10px 0px rgba(0,0,0,0.8);
    background:linear-gradient(to bottom, #535353 5%, #414141 100%);
    border:1px solid #414141;
}

button:hover {
	background:linear-gradient(to bottom, #414141 5%, #535353 100%);
	background-color:#535353;
}

button:active {
	position:relative;
	top:1px;
}
  
.menuButtonWidth {
    width: 20%;
    min-width: 200px;
}

.level {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.repeat {
    background-repeat: repeat;
}

.fieldborder{
    border: 3px  solid #5f676f;
    box-sizing: border-box ;
    z-index: 2;
    background-color: transparent;
}

.gridentity {
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-color: white;
}

.astronaut {
    background-image: url("resources/assets/Astronaut.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
}

.wall {
    position: relative;
    z-index: 3;
}

.path {
    background-color: white;
}

.abyss {
    visibility: hidden;
}

.goal_unlocked {
    background-image: url("resources/assets/ziel_open.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-color: white;
}

.goal_locked {
    background-image: url("resources/assets/ziel_locked.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    background-color: white;
}

.life {
    background-image: url("resources/assets/extralife.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
}

.lives {
    background-image: url("resources/assets/extralife.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    margin: 0 5px;
    height: 50px;
    width: 50px;
    position: relative;
}

.key {
    background-image: url("resources/assets/Key.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
}

.invert {
    background-image: url("resources/assets/Invert_Control.svg");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
}

.speed {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.visibility {
    position: absolute;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
}

.runner {
    background-image: url("resources/assets/monster_runner.svg");
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
    z-index: 2;
}

.patroler {
    background-image: url("resources/assets/monster_patroler.svg");
    border-radius: 100%;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    position: absolute;
    z-index: 2;
}

.lasergateHorizontal {
    background-image: url("resources/assets/Lasergate_Horizontal.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    z-index: 1;
}

.lasergateVertical {
    background-image: url("resources/assets/Lasergate_Vertical.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    position: absolute;
    z-index: 1;
}

.leveltext {
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    align-items: center;
    color: white;
    margin: 0;
}

.timetext {
    font-size: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    text-align: center;
    color: white;
    margin: 0;
}

#finished button {
    width: 95% !important;
}

#pauseMenu button {
    width: 95% !important;
}

#viewfield {
    z-index: 5;
}

.viewblock {
    background-color: black;
    opacity: 1;
}

.discoveredview {
    background-color: black;
    opacity: 0.5;
}

.fadeout {
    animation-name: fadetotransparent;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

.halffadeout {
    animation-name: halffadetotransparent;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}


.fadein {
    animation-name: fadetoblack;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes fadetotransparent {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes halffadetotransparent {
    from {
        opacity: 0.5;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadetoblack {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

.popupMenu {
    display: flex;
    z-index: 6;
    background-color: white;
    align-items: center;
    margin: 5px;
    flex-direction: column;
    flex-wrap: wrap;
    position: absolute;
    min-width: 250px;
    max-width: 50%;
    padding-bottom: 5px;
}

.overlay {
    width: 50%;
    margin: auto auto 0;
}

.fixedOverlay {
    display: inline-grid;
    grid-template-columns: repeat(3, calc(100% / 3));
    background-color: white;
    box-sizing: border-box;
    border-left: 1px solid black;
    width: 100%;
}

.fixedOverlay > div {
    display: flex;
    justify-content: center;
    border-top: 1px solid black;
    border-right: 1px solid black;
    font-size: 23px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    height: 55px;
    align-items: center;
}

.powerUpOverlay {
    display: flex;
    z-index: 6;
    width: 70%;
    position: absolute;
}

#powerUps > img {
    background-color: white;
    width: 50px;
    height: 50px;
}

.lineBreak {
    white-space: pre-line;
}

.numberPos{
    bottom: 0;
    left: 0;
    position: absolute;   
}

.scrollBox{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    overflow: auto;
}

#customlevelbox > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 260px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.customJsonLabel{
    cursor: pointer;
}

.customButton:active{
    position: relative;
    top: 1px;

}
.customButton:hover {
    -webkit-tap-highlight-color: transparent;
	background:linear-gradient(to bottom, #414141 5%, #535353 100%);
	background-color:#535353;
}

.customOutBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 10px;
    top: 5px;
    width: calc(30% - 30px);
    height: 50%;
}

.customOut {
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: lightgrey;
}

.levelEditor{
    display:flex;
    overflow: auto;
    width: 100%;
    height: 100%;
}

.editorSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: 5px;
}

.editorSetting{
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
}

.sectionLeft{
    margin-left: auto;
    margin-right: 5px;
}

.sectionRight{
    margin-right: auto;
    margin-left: 5px;
}

#settings > div{
        width: 250px;
}

#settingsGrid > div {
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
}

.editorInput {
    text-align: center;
    width: 60px;
    height: 35px;
    border-radius: 10%;
    border: 0;
    margin-left: 5px;
}

.editorBox{
    display: grid;
    width: calc(50% - 20px);
    max-height: 350px;
    margin: 0 5px 0 10px;
    overflow: auto;
}

.editorGrid{
    display: grid;
    justify-self: end;
}

.pathGrid{
    width: 50px;
    height: 50px;
    border: 1px solid#414141;
    box-sizing: border-box;
    background-color: white;
}

.sidebarBox{
    display: flex;
    flex-direction: column;
    width: calc(50% - 20px);
    min-height: 340px;
    margin: 5px auto 5px 5px;
}

.flexBox{
    display: flex;
    margin:5px;
    width:100%;
}

#selectedAndRemove > div{
    display: flex;
    flex-direction: column;
    margin: 5px;
}

.editorInfo {
    font-size: 14px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    max-width: 300px;
    max-height: 50px;
    background-color: lightgrey;
    margin: 0 5px;
    overflow: auto;
}

.placeableItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor:pointer;
}

.editorItem{
    width: 50px;
    min-height: 50px;
    height: 50px;
    margin: 5px;
}

.editorAbyss {
    width: 50px;
    height: 50px;
    background-color: black;
    opacity: 0.5;
}

.dropdownBox{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 5;
}

.dropdown{
    display:flex;
    width:100%;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 5px;
    background-color: #414141;
    padding-bottom: 5px;
    align-items: center;
    justify-content: center;
    border: 1px solid #414141;
    border-bottom-left-radius: 28px;
    box-sizing: border-box;
    border-bottom-right-radius: 28px;
    position: absolute;
    z-index: 5;
    top: 100%;
}

.lasergateSetting{
    display: flex;
    flex-direction: column;
    width: 280px;
}

#traps{
    height: 105px;
}

.powerupSetting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.monsterSubmitWidth{
    width: 40%;
    height: 2em;
}

.monsterBox{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    justify-self: flex-start;
    width: 200px;
    margin: 5px;
}

.monsterText {
    color: white;
    text-align: center;
    text-shadow: 0 0 8px black;
    font-size: x-large;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    cursor: default;
}

.editorOut {
    width: 250px;
    max-height: 350px;
    position: absolute;
    background-color: lightgrey;
    overflow: auto;
}

.borderBotNoRad {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.imageOption {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}

.absolut {
    position: absolute;
}


.text {
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.5);
    padding: 0 2px 0 2px;
    color: white;
    margin: 5px;
}


.backgroundGreen {
    background-color: #00854a;
}

.backgroundLightgreen {
    background-color: #99ceb7;
}

.size50 {
    width: 50px;
    height: 50px;
}

.size40 {
    width: 40px;
    height: 40px;
}

.alignCenter {
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}